<section class="categories">
  <div class="heading">
    <h2>Explorar categorías</h2>
    <hr>
  </div>

  <div class="container">
    <a class="category" href="/category/cereales y semillas">
      <div class="thumb">
        <img src="/img/category-cereales.jpg" alt="cereales">
      </div>
      <p>Cereales y semillas</p>
    </a>

    <a class="category" href="/category/bebidas">
      <div class="thumb">
        <img src="/img/category-bebidas.jpg" alt="bebidas">
      </div>
      <p>Bebidas</p>
    </a>

    <a class="category" href="/category/aderezos">
      <div class="thumb">
        <img src="/img/category-aderezos.jpg" alt="aderezos">
      </div>
      <p>Aderezos</p>
    </a>

    <a class="category" href="/category/leches vegetales">
      <div class="thumb">
        <img src="/img/category-leches.jpg" alt="leches">
      </div>
      <p>Leches vegetales</p>
    </a>

    <a class="category" href="/category/quesos y fiambres veganos">
      <div class="thumb">
        <img src="/img/category-quesos.jpg" alt="quesos">
      </div>
      <p>Quesos y fiambres<br>veganos</p>
    </a>

    <a class="category" href="/category/congelados">
      <div class="thumb">
        <img src="/img/category-congelados.jpg" alt="congelados">
      </div>
      <p>Congelados</p>
    </a>

    <a class="category" href="/category/cuidado personal">
      <div class="thumb">
        <img src="/img/category-cuidado.jpg" alt="cuidado">
      </div>
      <p>Cuidado personal</p>
    </a>
  </div>  
</section>