<footer>
  <!-----------------------FOOTER TOP------------------------>
  <div class="top">
    <div class="container">
      <ul class="col">
        <h5>Nosotros</h5>
        <li>Nuestras sucursales</li>
        <li>Historia</li>
        <li>Visión </li>
      </ul>

      <ul class="col">
        <h5>Contacto</h5>
        <li>Av. Magallanes 3562</li>
        <li>Tel: 2568 9520</li>
        <li>WhatsApp: 098 325 681</li>
      </ul>

      <ul class="col">
        <h5>Información</h5>
        <li>Acerca de los envíos</li>
        <li>Tasas y comisiones</li>
        <li>Términos y condiciones</li>
        <li>Aviso de privacidad</li>
      </ul>

      <ul class="col">
        <h5>Suscríbete a las novedades</h5>
        <div class="newsletter-container">
          <input type="text" placeholder="Ingresa tu E-Mail">
          <input type="submit" value="Enviar">
        </div>
        <div class="social-media">
          <img src="/img/logo-facebook.svg" alt="facebook">
          <img src="/img/logo-twitter.svg" alt="twitter">
          <img src="/img/logo-instagram.svg" alt="instagram">
        </div>

        <div class="payments">
          <img src="/img/logo-visa.svg" alt="logo-visa">
          <img src="/img/logo-master.svg" alt="logo-visa">
          <img src="/img/logo-oca.svg" alt="logo-visa">
          <img src="/img/logo-mercadopago.svg" alt="logo-visa">
        </div>
      </ul>
    </div>
  </div>
</footer>