<div class="login-window top" id="login-window">
  <form action="/login" method="POST">
    <h2>Iniciar sesión</h2>
    <div class="content">
      <label for="">E-Mail:</label>
      <input type="email" name="email" required>
      <label for="">Contraseña:</label>
      <input type="password" name="password" required>
      <label for="remeber-user-data" class="remember-user-data">
        <input type="checkbox" name="checkbox-remeber-user-data" id="remeber-user-data" >
        Recordarme
      </label>
  
      <input type="submit" class="btn-login" id="btn-login" value="Ingresar">
      <div style="margin-top: 1em; display: flex; flex-direction: column; text-align: center;">
        <a href="/signup">Registrarse</a>
      </div>
    </div>
  </form>
</div>