<section class="modal top">
  <img src="#" alt="thumb" class="thumb-big">

  <div class="info">
    <h1 class="product-name"></h1>
    <p class="product-description">Description</p>
    <p class="price"></p>
    <div class="buy-panel">
      <p>Cantidad: </p>
      <div class="controls">
        <div class="minus" id="minus">-</div>
        <div class="qty-container">
          <input type="text" value="1" class="items-cantidad" id="cantidad" maxlength="2" disabled>
        </div>
        <div class="plus" id="plus">+</div>
      </div>
      <button class="button" id="agregar">Agregar</button>
    </div>
  </div>
  <img 
    src="/img/icon-close.svg" 
    id="icon-close-modal"
    class="icon-close-modal" 
    alt="icon-close-modal">
</section>