<div class="msg" id="msg">
    <h3>Producto agregado</h3>
    <div>
        <img src="" alt="producto" id="product-thumb">
        <span id="product-name">Nombre del producto</span>
    </div>
    <a href="/cart">Ver carrito</a>
</div>