<div class="pre-header">
  <div class="wrapper">
    <div class="container">
      <span>Ciberlunes 2022</span>
      <span>Hasta 40% de descuento en todas nuestras compras web</span>
      <span>Faltan: 140 horas, 30 minutos, 20 segundos</span>
    </div>
  </div>
</div>