@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;600;700&display=swap');

:root {
  --green: #03bb85;
  --blue: #4C4FC7;
  --border-color: #e2e1e1;
}

::placeholder {
  font-size: .9rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  color: #000;
}

html {
  position: relative;
  height: 100%;
}

body {
  position: relative;
  min-height: 100vh;
  font-family: 'Raleway', sans-serif;
  font-size: .9rem;
  overflow-x: hidden;
}

header {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  background: #fff;
  padding: 1.25em 0;
  z-index: 1;
}

.burger {
  display: none;
}

.icon-close {
  display: none;
}

.header-top, .header-bottom {
  position: relative;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  width: 70%;
}

.header-top > * {
  flex: 1;
}

.header-bottom {
  margin-top: 1.75em;
}

.menu {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.menu a {
  font-weight: bold;
}

.menu a:hover {
  transition: all .2s;
  color: var(--green);
}

.logo-container { display: flex; }

.logo {
  display: flex;
  cursor: pointer;
}

.logo img {
  height: 3.5em;
}

.form-search {
  position: relative;
  display: flex;
  width: 30%;
}

.search-field {
  position: relative;
  width: 100%;
  outline: none;
  padding: 1em;
  background: #fff;
  color: #000;
  font-size: 1rem;
  border: 1px solid lightgray;
}

.search-field:focus {
  transition: all .2s;
  border: 1px solid #000;
}

.button-search {
  position: absolute;
  right: 0;
  top: 0;
  width: 3.5em;
  height: 100%;
  border-radius: 0 .25em .25em 0;
  cursor: pointer;
}

.icon-search {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1.1em;
  cursor: pointer;
}

/* Hide default bar icons */

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

.search-suggestions {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: #fff;
  border: 1px solid var(--light-gray);
  color: #fff;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, .15);
  z-index: 1;
}

.search-suggestions p {
  position: relative;
  margin: 0;
  width: 100%;
  cursor: pointer;
}

.search-suggestions p:hover {
  background: var(--light-gray);
}

.search-suggestions p:last-child {
  border-radius: 0 0 .3em .3em;
}

.search-suggestions a {
  display: block;
  line-height: 100%;
  padding: 1em 1.2em;
  font-size: .9rem;
}

.search-suggestions a:hover {
  opacity: .5;
}

.user-panel-container {
  position: relative;
}

.user-panel {
  float: right;
  display: flex;
  justify-content: space-between;
  width: 25%;
  height: 100%;
  cursor: pointer;
}

.user-panel a {
  position: relative;
}

.user-panel i:first-child {
  display: none;
}

.user-panel img {
  margin-top: 1em;
  width: 1.6em;
  height: 1.6em;
}

.products-panel {
  display: flex;
  background: #f4f4f4;
}

.products-panel a {
  color: gray;
  padding: 1em;
  border: 1px solid lightgray;
  flex: 1;
  text-align: center;
  text-decoration: underline;
}

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid lightgray;
  animation: header-sticky .4s 1;
}

.sticky + .content {
  padding-top: 3.75em;
}

.wrapper {
  margin: 0 auto;
  position: relative;
  display: flex;
  padding: 1.5em 0;
  justify-content: space-between;
  align-items: center;
  width: 65%;
  height: 100%;
}

.products-panel a:hover {
  background: rgb(255, 205, 205);
}

.cart > div {
  position: relative;
}

.items-counter {
  position: absolute;
  top: 0%;
  left: 25%;
  padding: .2em;
  color: #000;
  font-weight: bold;
  font-size: .9rem;
}

.login-window {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 1em;
  padding: 5em;
  flex-direction: column;
  z-index: 5;
  animation: fade-in .4s 1, move-down .4s 1;
}

.login-window h2 {
  margin: 0;
  font-weight: bold;
  width: 100%;
  text-align: center;
  padding: .5em;
  color: #fff;
  background: var(--green);
}

.login-window .content {
  padding: 2em;
  display: flex;
  flex-direction: column;
  background: #fff;
}

.login-window label,
.register-form label {
  margin-top: 2em;
}

.login-window input[type="email"],
.login-window input[type="password"],
.register-form input[type="email"],
.register-form input[type="password"],
.register-form input[type="text"],
.register-form input[type="text"] {
  margin-top: 1rem;
  padding: .8em;
  height: 3em;
  font-size: 1rem;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: .3em;
  outline: none;
}

.login-window input[type="checkbox"], 
.register-form input[type="checkbox"] {
  margin-right: .75em;
  width: 1.5em;
  height: 1.5em;
}

.remember-user-data {
  cursor: pointer;
}

.btn-login {
  margin-top: 2em;
  border: none;
  outline: none;
  padding: 1em;
  font-size: 1.2rem;
  color: #fff;
  border-radius: 2px;
  background: var(--green);
  cursor: pointer;
}

.btn-login:hover {
  background: #c7611d;
}

.login-window a,
.register-form a {
  color: var(--light-blue);
}

.slider-container {
  margin: 0 auto;
  right: 0%;
  display: flex;
  cursor: pointer;
}

.slider-item {
  width: 100%;
  height: 53.3vh;
}

.main-wrapper {
  margin: 0 auto;
  position: relative;
  width: 70%;
  min-height: 800px;
  display: flex;
  flex-direction: column;
}

.slider-controls {
  position: fixed;
  top: 60%;
  right: 15%;
  display: flex;
  border-radius: 15px;
  justify-content: space-between;
  cursor: pointer;
}

.slider-controls div {
  margin: 0 .75em;
  width: 1em;
  height: 1em;
  border: 1px solid #fff;
  border-radius: 50%;
}

.msg-carrito {
  display: none;
  margin: 2em auto;
  color: rgba(0, 0, 0, .6);
  font-size: 1rem;
}

.msg {
  display: none;
  position: fixed;
  top: 10%;
  right: 5%;
  padding: 2em;
  background: #fff;
  box-shadow: 0 0 3px rgba(0, 0, 0, .4);
  border-radius: 5px;
  animation: msg 3s 1;
  z-index: 1;
}

.msg span {
  width: 10em;
  color: #000;
}

.msg > div {
  margin-top: 2em;
  display: flex;
}

.msg img {
  margin-right: .5em;
  height: 5em;
}

.msg a {
  margin-top: 3em;
  background: var(--blue);
  width: 100%;
  text-align: center;
  border-radius: 5px;
  color: #fff;
  padding: 1em;
  float: right;
}

.categories {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto auto;
  column-gap: 1.5em;
  row-gap: 1.5em;
}

.categories a {
  position: relative;
  background: #6d6952;
  width: 100%;
  height: 7.5em;
  display: flex;
  border-radius: 4px; 
  cursor: pointer;
}

.categories a div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  width: 80%;
}

.categories span {
  margin-left: 1em;
  font-size: 1.25rem;
  color: #fff;
}

.categories a:hover {
  transition: all .3s;
  background: var(--green);
}

.categories img {
  height: 3em;
}

.ofertas, 
.populares,
.categoria,
.busqueda,
.carrito {
  position: relative;
  margin: 1em auto;
  width: 70%;
}

.categoria, .busqueda {
  min-height: 100vh;
}

.heading-container {
  margin: 3em 0;
}

.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.banner-container {
  position: relative;
  margin: 1em auto;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.banner-container > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.banner-container img {
  margin-bottom: 2em;
  width: 425px;
  height: 550px;
  background: lightgray;
  border-radius: 1em;
  cursor: pointer;
}

.banner {
  width: 32%;
  height: 10em;
  padding: 1.5em;
  background: rgb(206, 15, 15);
  border-radius: 4px;
  display: flex;
}

.banner img {
  margin-right: 1em;
}

.banner h5 {
  color: #fff;
  font-size: 1.5rem;
}

.banner span {
  color: #fff;
  font-size: 1rem;
}

h2 {
  margin: 1.75em 0 1em 0;
  font-size: 1.75rem;
  font-weight: 500;
  text-align: left;
}

h3 {
  color: #000;
  text-align: left;
}

.underline {
  margin: .4em auto 0 auto;
  width: 3.25em;
  height: 2px;
  background: var(--green);
  opacity: .5;
}

.message {
  display: none;
  margin: 1em 0;
  color: rgba(0, 0, 0, .7);
  text-align: left;
}

.card-collection {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(10em, 14.5em));
  column-gap: 1em;
  row-gap: 1em;
}

.arrows {
  cursor: pointer;
  position: absolute;
  width: .75em;
  top: 50%;
  z-index: 0;
}

.arrows[name="left"] { left: -5%; }
.arrows[name="right"] { right: -5%; }

.products-container {
  display: flex;
  justify-content: space-between;
}

.card {
  display: none;
  position: relative;
  width: 11vw;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 5px;
  min-height: 16em;
  animation: FadeIn 1s 1;
  cursor: pointer;
}

.card:hover { 
  transition: all .3s;
  border: 1px solid var(--green);
}

.horizontal {
  flex-direction: row;
}

.vertical img {
  width: 100%;
  height: 325px;
}

.populares .card {
  display: block;
}

.product-thumb {
  margin-top: 0.5em 0;
  height: 10em;
  z-index: -2;
  background: transparent;
}

.container {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 70%;
}

.card .container {
  padding: 1em;
  width: 100%;
  flex-direction: column;
  text-align: left;
}

.product-name {
  height: 4em;
  font-weight: 500;
  font-size: .9rem;
}

.product-price {
  margin-top: .25em;
  color: rgb(49, 49, 49);
  font-size: 1.5rem;
  font-weight: 600;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 55%;
  padding: 2.5vw;
  background-color: #fff;
  border-radius: 5px;
  display: none;
  z-index: 2;
  animation: fade-in .4s 1, move-down .4s 1;
}

.modal > div {
  position: relative;
}

.thumb-container {
  margin-top: .5em;
  position: relative;
  text-align: center;
}

.thumb-big {
  width: 50%;
  height: 100%;
  margin: auto 0;
  border: 1px solid var(--light-gray);
  border-radius: .5em;
}

.product-info {
  position: relative;
  width: 50%;
  height: 100%;
}

.product-info h1 {
  margin-left: 0;
  font-size: 1.8rem;
  font-weight: 300;
  color: #000;
}

.product-description {
  display: none;
}
.modal .product-description {
  margin-top: 2em;
  opacity: .8;
  display: block;
  line-height: 1.5em;
}

.price {
  margin-left: 0;
  margin-top: 3em;
  font-size: 2.2rem;
  color: #000;
  font-weight: bold;
}

.buy-panel {
  width: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
}

.buy-panel p {
  font-size: 1.1rem;
  color: var(--mid-gray);
  margin: auto 0;
}

.buy-controls {
  margin: auto 0;
  width: 6em;
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-right: .5em;
  border: 1px solid lightgray;
  border-radius: 3px;
  text-align: center;
  cursor: default;
}

.buy-controls div {
  position: relative;
  padding: .5em;
  flex: 1;
  cursor: pointer;
}

.buy-controls div:first-child, 
.buy-controls div:last-child {
  background: #f4f4f4;
}

.buy-controls div:first-child:hover, 
.buy-controls div:last-child:hover {
  background: lightgray;
}


.buy-controls div::selection {
  background: none;
}

.qty-container {
  background: #fff;
  flex: 1;
}

.items-cantidad {
  position: absolute;
  top: 0;
  left: 0;
  outline: none;
  border: none;
  font-size: 1rem;
  text-align: center;
  color: #000;
  background: #fff;
  width: 100%;
  height: 100%;
  flex: 1;
}

.button {
  margin-left: 1em;
  min-width: 10em;
  line-height: 4em;
  border: none;
  border-radius: 3px;
  outline: none;
  background: var(--green);
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}

.register-form .button {
  margin-top: 2em;
  align-self: flex-end;
}

.button:hover {
  transition: all .2s;
  background: #c7611d;
}

.icon-close-modal {
  position: absolute;
  top: 5%;
  right: 3%;
  width: .9em;
  cursor: pointer;
}

footer {
  position: relative;
  display: flex;
  flex-direction: column;
  background: #f4f4f4;
  color: #000;
  margin-top: 5em;
  width: 100%;
  padding: 4em 0;
}

footer .wrapper {
  position: relative;
  margin: 0 auto;
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

footer .col {
  display: flex;
  flex-direction: column;
  flex: 1;
  line-height: 2.25em;
}

footer .col h5 {
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: .5em;
}

footer .col li {
  margin-top: 0.5em;
  font-size: .9rem;
  color: var(--mid-gray);
  cursor: pointer;
}

footer li:hover {
  transition: all .2s;
  color: var(--green);
}

.social-media {
  margin-top: 2em;
  display: flex;
}

.social-media * {
  margin-right: 2em;
  width: 2em;
  cursor: pointer;
}

.newsletter-container {
  position: relative;
  display: flex;
  height: 3em;
}

.newsletter-container input[type="text"] {
  outline: none;
  border: 1px solid lightgray;
  border-radius: 2px;
  padding: 1em;
  width: 100%;
  height: 100%;
}

.newsletter-container input[type="submit"] {
  position: absolute;
  right: 0;
  background: #000;
  color: #fff;
  padding: .5em;
  outline: none;
  border: none;
  border-radius: 0 0 2px 2px;
  height: 100%;
  cursor: pointer;
}

.payments {
  margin-bottom: 1em;
  display: flex;
  flex-direction: column;
}

.payments div {
  margin-top: .5em;
  display: flex;
}

.payments img {
  width: 2.5em;
  height: 1..5em;
  border: 1px solid var(--light-gray);
  border-radius: 3px;
}

.mask {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .8);
  z-index: 1;
  transition: all .5s;
}

.loading {
  position: relative;
  display: none;
  position: fixed;
  overflow-y: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  flex-direction: column;
  z-index: 2;
}

.lds-ring {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 6px solid var(--green);
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: var(--green) transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.productos {
  min-height: 80vh;
}

.productos .wrapper {
  justify-content: start;
}

.populares .products-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto;
  grid-row-gap: 1em;
  grid-column-gap: 1em;
}

.cart-content-container {
  display: flex;
}

.left-side {
  position: relative;
  width: 60%;
  padding: 2em 0;
  border: 1px solid var(--border-color);
  border-radius: 10px;
}

.table {
  position: relative;
  margin-top: 2em;
  width: 100%;
  background: #fff;
  border-collapse: separate;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
}

.table tbody {
  width: 100%;
}

.table th {
  opacity: .5;
  font-weight: 600;
  font-size: 1rem;
  text-align: left;
  padding: 1.75em 0;
}

.table td {
  padding: 1em 0;
  color: rgb(99, 99, 99);
  font-size: .9rem;
  vertical-align: middle;
}

.table td:first-child {
  text-align: center;
}

.table tr {
  position: relative;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--light-gray);
}

.table tr * {
  flex: 2;
}

.table tbody tr:hover {
  background: #f4f4f4;
  cursor: pointer;
}

.separator {
  width: 100%;
  height: 1px;
  background: var(--light-gray);
}

.table * {
  border-collapse: collapse;
  text-align: left;
}

.table td:last-child {
  text-align: center;
}

.carrito-thumb {
  width: 4em;
  height: 4em;
}

.btn-delete-product img {
  margin-top: 1.5em;
  width: .9em;
  cursor: pointer;
}

.total {
  display: none;
  text-align: left;
  font-weight: bold;
  font-size: 1.5rem;
  margin: 1em 0;
}

.btn-buy {
  display: none;
  padding: 2.5em;
  color: #fff;
  border-radius: 5px;
  background: var(--green);
  cursor: pointer;
}

.btn-buy:hover {
  transition: all .3s;
  background: var(--blue);
}

.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}

.loader {
  display: none;
  position: absolute;
  top: 50%;
  right: 25%;
  transform: translate(0, -50%);
  font-size: 2px;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(255, 255, 255, 0.2);
  border-right: 1.1em solid rgba(255, 255, 255, 0.2);
  border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
  border-left: 1.1em solid #ffffff;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 .7s infinite linear;
  animation: load8 .7s infinite linear;
}

.error-container {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, 0%);
  text-align: center;
}

.error {
  width: 12em;
}

.error-container div {
  margin: 0 auto;
  width: 80%;
}

.error-container p {
  margin-top: 1em;
  text-align: center;
}

.error-container h1 {
  font-size: 5em;
}

.error-container h4 {
  font-size: 2em;
}

.visible { 
  display: block; 
}
.active { 
  background: #fff; 
}
.flex { 
  display: flex; 
}
.block-scroll { 
  overflow-y: hidden; 
}
.register-form {
  display: flex;
  flex-direction: column;
  width: 50%;
  border-radius: 1em;
}

.right-side {
  margin-left: 2em;
  padding: 2em;
  border: 1px solid var(--border-color);
  height: 55%;
  border-radius: 10px;
}

.sight-side p {
  margin-left: 1em;
}

.payment-options div {
  margin: .5em 0;
}

.payment-options * {
  cursor: pointer;
}

/* font for numbers only */ 
.items-counter, .product-price, .price, .items-cantidad, 
.left-side td:nth-child(3), 
.left-side td:nth-child(4),
.left-side td:nth-child(5),
.total {
  font-family: 'Arial-Narrow', sans-serif;
}

.btn-buy {
  margin-bottom: 5em;
  float: left;
}

.carrito h3 {
  margin-bottom: 2em;
  color: #000;
}
.left-side h3 {
  margin-left: 2em;
}

.carrito {
  min-height: 1000px;
}

.table tbody {
  height: 50vh;
  overflow-y:auto;
}