/*----------------------------------------*\
  Mobile
\*----------------------------------------*/
@media only screen and (max-width: 960px) {
  .pre-header .wrapper {
    width: 90%;
  }

  .pre-header .container {
    width: 100%;
  }

  .pre-header span:nth-child(2) {
    display: none;
  }

  header {
    width: 100%;
  }

  header .wrapper {
    width: 90%;
  }

  .header-top {
    width: 95%;
  }

  .header-top * {
    flex: none;
  }

  .header-bottom {
    display: none;
  }

  .logo img {
    margin-right: 4em;
    height: 2.5em;
  }

  .burger {
    margin: auto 0 auto .5em;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 1.5em;
  }

  .burger div {
    width: 2em;
    border: 1px solid #000;
  }

  .search-field {
    margin-left: .5em;
  }

  .form-search {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2em;
    background: #fff;
    height: 2em;
    z-index: 1;
  }

  .card {
    width: 20vw;
  }

  .card .container {
    padding: 5px;
  }

  .visible {
    display: block;
  }

  .user-panel {
    margin-right: .5em;
    width: 15vw;
  }

  .categories .container {
    width: 90%;
    display: grid;
  }

  .user-panel span:nth-child(2) {
    display: none;
  }

  .user-panel a {
    margin-top: .5em;
  }

  .user-panel a:first-child {
    display: block;
  }

  .slider-item {
    height: 23vh;
  }

  .products-container, .populares .procts-container {
    display: none;
  }

  .populares .products-container, .card-collection {
    row-gap: 3em;
    column-gap: .25em;
    grid-template-columns: repeat(4, 1fr);
  }

  .banner-container {
    width: 95%;
  }

  .banner-container img {
    height: 10vh;
  }

  .search-form {
    display: none;
  }

  .login-icon {
    margin-right: 0;
  }

  .menu {
    display: none;
    margin-top: 2em;
    flex-direction: column;
    justify-content: space-between;
    height: 50%;
  }

  .menu a {
    color: #fff;
    font-size: 1.25rem;
  }

  .icon-close {
    display: block;
    position: absolute;
    top: 3%;
    right: 5%;
    width: 1.5em;
  }

  .ofertas, .populares, .categoria, .busqueda, .carrito {
    width: 95%;
  }

  h2 {
    font-size: 1.25em;
  }

  footer {
    padding: 1em;
  }

  footer .wrapper {
    width: 95%;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
  }

  footer .col {
    margin-bottom: 2em;
  }

  footer .col h5 {
    font-size: 1em;
  }

  footer .col li {
    font-size: .8rem;
  }

  .modal {
    width: 85%;
    height: 70%;
    flex-direction: column;
    justify-content: space-between;
    padding: 1em;
  }

  .buy-panel {
    margin-top: 1em;
  }

  .icon-close-modal {
    top: 0%;
    right: 5%;
    height: 5em;
  }

  .buy-panel p {
    text-align: center;
  }

  .buy-controls {
    margin: .5em auto 0 .5em;
    height: 2.5em;
  }

  .thumb-big {
    margin: 0;
    width: 100%;
    height: 70%;
  }

  .login-window {
    width: 80%;
  }

  .product-image {
    max-width: 20vw;
    height: 7em;
  }

  .product-info {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .product-price {
    font-size: 1.25rem;
  }

  .product-name {
    height: 7em;
  }

  .product-info h1 {
    margin-top: 1em;
    width: 100%;
    font-size: 1.25rem;
  }

  .price {
    margin-top: 1em;
  }

  .procts-container .card {
    display: none;
  }
}

/* 1366 x 768 */
/* @media only screen and (max-width: 1500px) { 
    .menu li {
      flex: 1;
    }

    .slider-item {
      height: 53vh;
    }

    .banner-container img {
      width: 22vw;
      height: 58vh;
    }

    .vertical img {
      width: 100%;
      height: 47vh;
    }

    .card {
      width: 14vw;
    }

    .card-collection {
      grid-template-columns: auto auto auto auto auto;
    }

    .user-panel {
      width: 30%;
    }

    .populares .products-container {
      grid-template-columns: repeat(5, 1fr);
    }

    .login-window {
      width: 30%;
    }

    .products-container {
      display: none;
    }
  }
*/