<section class="populares">
  <h2>MÁS POPULARES</h2>

  <div class="products-container">
    <% for (var i=0; i < featuredProducts.length; i++) { %>
      <div class="card">
        <div class="thumb-container">
          <img src="/data/thumbs/<%= featuredProducts[i].imagen %>" alt="thumb" class="product-thumb">
        </div>
        <div class="container">
          <h4 class="product-name"><%= featuredProducts[i].nombre %></h4>
          <p class="product-description"><%= featuredProducts[i].descripcion %></p>
          <p class="product-price">$ <%= featuredProducts[i].precio %>
          </p>
        </div>
      </div>
      <% } %>
  </div>
</section>