<section class="ofertas">
  <h2>NUESTRAS OFERTAS</h2>

  <div style="position: relative;">
    <img src="/img/arrow-left.svg" alt="left" id="arrow-left" class="arrows" name="left">
    <img src="/img/arrow-right.svg" alt="right" id="arrow-right" class="arrows" name="right">
    <div class="products-container">
      <% for (var i=0; i < ofertas.ofertas.length; i++) { %>
        <div class="card">
          <div class="thumb-container">
            <img src="/data/thumbs/<%= ofertas.ofertas[i].imagen %>" alt="thumb" class="product-thumb">
          </div>

          <div class="container">
            <h4 class="product-name"><%= ofertas.ofertas[i].nombre %></h4>
            <p class="product-description"><%= ofertas.ofertas[i].descripcion %></p>
            <p class="product-price"> $ <%= ofertas.ofertas[i].precio %>
            </p>
          </div>
        </div>
        <% } %>
    </div>
  </div>
</section>