<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/animations.css">
  <link rel="stylesheet" href="/css/responsive.css">
  <link rel="icon" href="/img/favicon.png">
  <title>Green Market - Carrito</title>
</head>
<body>
  <!------------------------------HEADER------------------------------->
  <%- include('../partials/pre-header') %>
  <%- include('../partials/header') %>

  <!------------------------------PRODUCTS----------------------------->
  <section class="cart">
    <div class="heading">
      <h2>Carrito</h2>
      <hr>
    </div>

    <p class="msg-carrito" id="msg-carrito"> </p>

    <div class="cart-container">
      <div class="left-side">
        <h3>Productos</h3>
        <table class="table" id="table">
          <thead>
            <th></th>
            <th>Producto</th>
            <th>Precio</th>
            <th>Ctd.</th>
            <th>Sub-total</th>
            <th></th>
          </thead>
          <tbody></tbody>
        </table>
      </div>

      <div class="right-side">
        <h3>Medio de pago</h3>
        <div class="payment-options">
          <div>
            <label for="credit-debit">
              <input type="radio" name="payment" id="credit-debit" value="credit_debit" checked> Tarjeta de crédito
              o débito
            </label>
          </div>

          <div>
            <label for="paypal">
              <input type="radio" name="payment" id="paypal" value="paypal"> Pagar con PayPal
            </label>
          </div>

          <div>
            <label for="cash">
              <input type="radio" name="payment" id="cash" value="cash"> Efectivo en la entrega
            </label>
          </div>
        </div>

        <p class="total" id="total"></p>
        <a class="btn-buy" id="button-carrito">Finalizar compra</a>
      </div>
    </div>
  </section>

  <!-----------------------------FOOTER------------------------------->
  <%- include('../partials/footer') %>

  <!------------------------------OTHER------------------------------->
  <%- include('../partials/loading') %>
  <div class="mask" id="mask"></div>

  <!-----------------------------SCRIPTS------------------------------>
  <script src="/js/main.js"></script>
  <script defer src="/js/carrito.js"></script>
</body>
</html>