<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/animations.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <link rel="icon" href="/img/favicon.png">
    <title>Green Market - Registro</title>
</head>
<body>
  <%- include('../partials/loading') %>

  <%- include('../partials/header') %>

    <div class="main-wrapper">
        <h2>Registrarse</h2>
        <form class="register-form" action="/register/confirm" method="POST">
            <label>Nombres:</label>
            <input type="text" name="nombres" required autocomplete="off">
            <label>Apellidos:</label>
            <input type="text" name="apellidos" required autocomplete="off">
            <label>E-Mail:</label>
            <input type="email" name="email" required autocomplete="off">
            <label>Contraseña:</label>
            <input type="password" name="password" required autocomplete="off">
            <div style="display: flex; align-items: center; margin-top: 2em;">
                <input type="checkbox" required>
                Acepto los &nbsp <a href="">  Términos y condiciones </a>&nbsp y la &nbsp <a href=""> política de privacidad</a>
            </div>
            <input type="submit" class="button" value="Confirmar">
        </form>
    </div>

    <%- include('../partials/footer') %>

    <div class="mask" id="mask"></div>

    <script defer src="/js/main.js"></script>
</body>
</html>
