<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/animations.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <link rel="icon" href="/img/favicon.png">
    <title>Green Market</title>
</head>
<body style="background: var(--green); color: #fff">
  <!------------------------------HEADER------------------------------->
  <%- include('../partials/header') %>

  <!-------------------------------MAIN-------------------------------->
  <div style="text-align: center; margin-top: 15em;">
    <h1>
      ¡Se registró correctamente!
    </h1>
    <span>
      Redirigiendo a la página de inicio...
    </span>
  </div>

  <!------------------------------SCRIPTS------------------------------>
    <script>
      window.setTimeout(() => {
      window.location.replace('../');
      }, 4000);
    </script>
</body>
</html>